@import 'bootstrap';
@import 'palette';

$default-background-shade: 50;
$select-background-shade: 100;

$font-size-base: 1.1em;

$group-colors: (
    Green, Light Blue, Blue Grey,
    Amber, Purple, Lime,
    Indigo, Teal, Orange,
    Brown, Yellow, Light Green,
    Cyan
);

div, p, span {
    font-size: $font-size-base;
}

.group-select {
    margin-left: 20px;
}

.word-group {
    padding: 20px;
    border: 20px solid white;
    opacity: 1;
    transition: background 0.5s ease;

    &:hover {
        cursor: pointer;
    }

    @for $i from 0 through 12 {
        &.group-#{$i} {
            background: palette(nth($group-colors, ($i + 1)), $default-background-shade);

            &:hover {
                background: palette(nth($group-colors, ($i + 1)), $select-background-shade);
            }
        }
	}

	&.not-selected {
	    visibility: hidden;
	    opacity: 0;
	    transition: visibility 0.2s linear, opacity 0.2s linear;
	}

}

